@{
    ViewData["Title"] = "WesterosFit";
}

<section>
    <h1 class="centrado">WesterosFit</h1>
    <a href="https://github.com/JPereira2870/WesterosFit"><i class="fab fa-github"> </i></a>
    <div class="centrado">
        <p>Unidade Curricular: Desenvolvimento de Aplicações I (2ºAno | 1º Semestre).</p>
        <p>Grupo de 2 elementos, sem tarefas específicas delineadas.</p>
        <p>Objetivo: Criar uma aplicação de gestão de clientes para um ginásio.</p>
        <p>Resumo: O sistema exercia algumas funções simples de um ERP como:
        <p>-> Registar clientes - introdução e validação dos dados e a possibilidade de
        escolha dentro de 3 tipos de membro face às preferências de utilização das
        atividades do ginásio;</p>
        <p>-> Consultar e Alterar dados dos clientes – através de uma tabela de registos
        com botões laterais para a alteração de dados (exemplo: alteração do tipo
        de membro) ou cálculo da mensalidade de um determinado cliente.</p>    
        <p>Tecnologias utilizadas: C# , Windows Forms.</p>
    </div>
</section>
<hr/>
<section>
    <h1 class="centrado">Imagens</h1>
    <img src="/img/da1_1.png" class="center-block fotoProjetos">
    <img src="/img/da1_2.png" class="center-block fotoProjetos">
    <img src="/img/da1_3.png" class="center-block fotoProjetos">
    <img src="/img/da1_4.png" class="center-block fotoProjetos">
    <img src="/img/da1_5.png" class="center-block fotoProjetos">
</section>