@{
    ViewData["Title"] = "Formação";
}

<section>
    <h1 class="centrado">7Passos</h1>
    <a href="https://github.com/JPereira2870/7passos"><i class="fab fa-github"> </i></a>
    <p>Unidade Curricular: Desenvolvimento de Aplicações II (2ºAno | 2º Semestre).</p>
    <p>Grupo de 2 elementos, sem tarefas específicas delineadas.</p>
    <p>Objetivo: Desenvolver um jogo interativo em um web site.</p>
    <p>Resumo: O jogo consistia num herói que tinha como objetivo ultrapassar 7
    fases, durante a passagem por todas elas, poderia ter o azar de encontrar
    inimigos ou a sorte de encontrar objetos que o iriam ajudar nas próximas
    fases.
    Para completar o jogo, o herói tinha de encontrar uma chave para abrir a
    porta na última fase e chegar até lá com vida.
    Estas foram as diretrizes estipuladas no enunciado do trabalho, todos os
    outros aspetos a decidir foram decididos pelo grupo, como o tema do jogo,
    que no meu caso foi o jogo Minecraft, o cálculo de todas os valores a
    apresentar ao utilizador face às decisões tomadas pelo mesmo, entre outras.</p>    
    <p>C#, ASP.NET MVC, APIs, HTML, CSS, Bootstrap, GitHub, Azure.</p>
</section>
<hr/>
<section>
    <h1 class="centrado">Imagens</h1>
    <img src="/img/da2_1.jpg" class="center-block fotoProjetos">
    <img src="/img/da2_2.jpg" class="center-block fotoProjetos">
    <img src="/img/da2_3.jpg" class="center-block fotoProjetos">
    <img src="/img/da2_4.jpg" class="center-block fotoProjetos">
</section>