@{
    ViewData["Title"] = "EasyGrocery";
}

<section>
    <h1 class="centrado">EasyGrocery</h1>
    <hr> 
    <p>Unidade Curricular: Transformação Digital (3ºAno | 2º Semestre).</p>
    <p>Grupo de 4 elementos, sem tarefas específicas delineadas.</p><br>
    <p>Objetivo: Criar uma aplicação do génereo de e-commerce.</p>
    <p>Resumo: Esta aplicação consistia em facilitar os consumidores na aquisição
    dos produtos alimentares, sem que estes necessitassem de deslocar ao local
    e por sua vez aumentar o risco de propagação do Covid-19.
    Nesta aplicação o cliente primeiramente deveria se registar, seguidamente
    criava a sua lista de produtos, onde esta era visualizada por um comprador ou
    por um voluntário e respondia ao pedido.</p><br>
    <p>Tecnologias utilizadas: Outsystems</p>

    <p class="centrado"><a href="https://ipds-dev.outsystemsenterprise.com/TD2020_G2/" class="btn btn-md btn-outline-secondary" target="_blank" >Projeto</a></p>
</section>
<hr/>
<section>
    <h1 class="centrado" >Imagens</h1>
    <img src="/img/outsystems1.png" class="fotoProjetooutsystems">
    <img src="/img/outsystems2.png" class="fotoProjetooutsystems">
    <img src="/img/outsystems3.png" class="fotoProjetooutsystems">
    <img src="/img/outsystems4.png" class="fotoProjetooutsystems">
    <img src="/img/outsystems5.png" class="fotoProjetooutsystems">
</section>
<br>
<br>