@{
    ViewData["Title"] = "EasyGrocery";
}

<section>
    <h1 class="centrado">7Passos</h1>
    <a href="https://ipds-dev.outsystemsenterprise.com/TD2020_G2/">Projeto</a>
    <p>Unidade Curricular: Transformação Digital (3ºAno | 2º Semestre).</p>
    <p>Grupo de 4 elementos, sem tarefas específicas delineadas.</p>
    <p>Objetivo: Criar uma aplicação do génereo de e-commerce.</p>
    <p>Resumo: Esta aplicação consistia em facilitar os consumidores na aquisição
    dos produtos alimentares, sem que estes necessitassem de deslocar ao local
    e por sua vez aumentar o risco de propagação do Covid-19.
    Nesta aplicação o cliente primeiramente deveria se registar, seguidamente
    criava a sua lista de produtos, onde esta era visualizada por um comprador ou
    por um voluntário e respondia ao pedido.</p>    
    <p>Tecnologias utilizadas: Outsystems</p>
</section>
<hr/>
<section>

</section>