@{
    ViewData["Title"] = "WesterosFit";
}

<section> 
    <div>
        <h1 class="centrado">WesterosFit</h1>
        <hr/>
        <p>Unidade Curricular: Desenvolvimento de Aplicações I (2ºAno | 1º Semestre).</p>
        <p>Grupo de 2 elementos, sem tarefas específicas delineadas. | Nota: 19 Valores.</p><br/>
        <p>Objetivo: Criar uma aplicação de gestão de clientes para um ginásio.</p>
        <p>Resumo: O sistema exercia algumas funções simples de um ERP como:
        <p>-> Registar clientes - introdução e validação dos dados e a possibilidade de
        escolha dentro de 4 tipos de membro face às preferências de utilização das
        atividades do ginásio;</p>
        <p>-> Consultar e Alterar dados dos clientes – através de uma tabela de registos
        com botões laterais para a alteração de dados (exemplo: alteração do tipo
        de membro) ou cálculo da mensalidade de um determinado cliente.</p><br/>
        <p>Tecnologias utilizadas: C# , Windows Forms.</p>
    </div>
    <p class="centrado"><a href="https://github.com/JPereira2870/WesterosFit" target="_blank"><i class="fab fa-github" style="font-size: 70px;"> </i></a></p>
</section>
<hr/>
<section>
    <h1 class="centrado">Imagens</h1>
    <img src="/img/da1_1.png" class="center-block fotoProjetoda1">
    <img src="/img/da1_2.png" class="center-block fotoProjetoda1">
    <img src="/img/da1_3.png" class="center-block fotoProjetoda1">
    <img src="/img/da1_4.png" class="center-block fotoProjetoda1esquerda">
    <img src="/img/da1_5.png" class="center-block fotoProjetoda1esquerda">
</section>
<br/>
<br/>