@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Principal - SitePessoal</title>  
	<link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c27cb768e0.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <section class="jumbotron text-center fundo">
    <div class="container">
            <img src="/img/foto.jpg" class="fotoperfil">
          <h1 class="jumbotron-heading" style="color: white;">João Pereira</h1>
          <p>
            <a href="#SobreMim" class="button1 bouncy">Sobre mim</a>
            <a href="#Formação" class="button1 bouncy" style="animation-delay:0.07s">Formação</a>
            <a href="#Projetos" class="button1 bouncy" style="animation-delay:0.14s">Projetos</a>
            <a href="#Certificados" class="button1 bouncy" style="animation-delay:0.21s">Certificados</a>
            <a href="#Contatos" class="button1 bouncy" style="animation-delay:0.28s">Contatos</a>
          </p>        
    </div>    
</section>   
</header>

<div class="container">
    @*Sobre mim*@
    <section id="SobreMim">
        <h1 class="centrado">Sobre Mim</h1>
        <br>
        <p class="centrado">Sou o João, tenho 21 anos e estudo no Instituto Politécnico de Setúbal na Licenciatura de Gestão de Sistemas de Informação. 
            Estou no 3º e ultimo ano da licenciatura, para o concluir terei de fazer um estágio curricular de 3 meses a começar em maio de 2020 e portanto 
            estou à procura da empresa que me dará essa oportunidade nesta ultima fase e quem sabe posteriormente ter a possibilidade de continuar no âmbito profissional.
        </p>
        <p class="centrado">
            <a asp-action="SobreMim" class="btn btn-primary">Saber Mais sobre mim!</a>
        </p>
        
    </section>
    <hr/>

    @*Formação*@
    <section id="Formação">
        <h1 class="centrado">Formação</h1>
        <br>
        <div class="centrado">
            <a asp-action="Formacao"><img src="/img/ipsLogo.png"></a>
        </div>
    </section>
    <hr/>

    @*Projetos*@
    <section id="Projetos">
        <h1 class="centrado">Projetos</h1>
        <br>

        <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/da1.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a asp-controller="Projetos" asp-action="Da1" class="btn btn-sm btn-outline-secondary centrado">Ver projeto</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/da2.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a asp-controller="Projetos" asp-action="Da2" class="btn btn-sm btn-outline-secondary centrado">Ver projeto</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/outsystems.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a asp-controller="Projetos" asp-action="Outsystems" class="btn btn-sm btn-outline-secondary centrado">Ver projeto</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <hr/>

    @*Certificados*@
    <section>
        <h1 class="centrado">Certificados</h1>

        <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/Scrum.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">SCRUM Fundamentals</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-Jo%C3%A3oPereira-780546.pdf" target="_blank" class="btn btn-sm btn-outline-secondary centrado">Ver Certificado</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/udemy.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Python</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://www.udemy.com/certificate/UC-2a5d6207-dbae-474e-aec4-b9bbb4829b9e/" target="_blank" class="btn btn-sm btn-outline-secondary centrado">Ver Certificado</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/sololearn.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">HTML</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://www.sololearn.com/Certificate/1014-13641611/pdf/" target="_blank" class="btn btn-sm btn-outline-secondary centrado">Ver Certificado</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/sololearn.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">CSS</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://www.sololearn.com/Certificate/1023-13641611/pdf/" target="_blank" class="btn btn-sm btn-outline-secondary centrado">Ver Certificado</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr/>

    @*Contactos*@
    <section>
        <h1 class="centrado">Contatos</h1>
        <div class="centrado">
            <a href="https://www.linkedin.com/in/jpereira99/"><i class="fab fa-linkedin" style="font-size: 70px; padding-right: 20px;"></i></a> 
            <div class="popup" onclick="funcaoTele()">
                <i class="fas fa-phone-square-alt" style="font-size: 70px; padding-right: 20px;"></i>
                <span class="popuptext" id="myPopup">+351 919394926</span>          
            </div>
            <div class="popup" onclick="funcaoPop()">
                <i class="fas fa-envelope" style="font-size: 70px;"></i>
                <span class="popuptext" id="myPopup1">jpereira2870@gmail.com</span>          
            </div>     
        </div> 
    </section>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 João Pereira
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>





